@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nothing+You+Could+Do&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/* Fonts */
.primary-font {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.test {
  border: solid 2px red;
}

/* Colors */
.base {
  background-color: #fbf7f4;
}

.primary {
  background-color: #5ae4a7;
}

.light-primary {
  background-color: #5ae4a66b;
}

.primary-text {
  color: #3ab24a;
}

.callto {
  background-color: #21a8b5;
}

.grey {
  color: #838383;
}

.white {
  color: white;
}

/* Navbar Styling */
nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.logo {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 46px;
  font-weight: bold;
}

.home-btn {
  width: 200px;
  height: 65px;
  font-size: 25px;
  letter-spacing: 2px;
  border-radius: 15px;
  color: black;
}

.home-btn:hover {
  background-color: #4abb88;
}

.cheat {
  border: solid 0.1px #7c91bc;
}

.hero-image {
  width: 500px;
  height: auto;
}

.features-img {
  width: auto;
  height: 300px;
}

.features-card {
  background-color: #21a9b55f;
  border-radius: 15px;
}

.rectangle {
  background: linear-gradient(
    to right,
    #97ecc3 43%,
    #fbf7f4 30%,
    #fbf7f4 70%,
    #fbf7f4 70%
  );
}

.mission-headline {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2px;
}

.primary-card {
  background-color: #5ae4a64e;
  border: solid 2px #5ae4a7;
  border-radius: 10px;
}

.album-cover {
  width: 175px;
  height: 175px;
  border-radius: 10px;
}

.lyrics-border {
  border: solid 1px black;
  border-radius: 10px;
}

#lyric-search-input {
  height: 60px;
  background-color: #4abb8851;
}

#lyric-search-button {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.word-input-blank {
  border: none;
}

.lyrics-align {
  line-height: 2.00;
  margin-bottom: 10px; /* Remove spacing inconsistencies */
  display: flex;
  align-items: center; /* Ensure vertical alignment */
}

.input-lyrics-align {
  line-height: 1.7276;
  margin-bottom: 0; /* Remove spacing inconsistencies */
  display: flex;
  align-items: center; /* Ensure vertical alignment */
}